{% extends 'base.html' %}

{% load static %}

<html>

    
        {% block header1 %}
        <body class="body">
            <h1 class="h1">
                <a href="#"><span id="span">KAYSA SWA</span></a>
                <ul></ul>
                <a href="{% url 'Events:AddEvent' %}">
                    <button id="buttonpink" type="button" class="btn btn-secondary">ADD EVENTS</button></a>
                
                <a href="{% url 'Events:Events' %}">
                    <button id="buttonorange" type="button" class="btn btn-secondary">EVENTS</button></a>

            </h1>

        {% endblock header1 %}

        {% block content %}
        <h2 id='font-color' class='center'>MEMBER REGISTRATION FORM</h2>
        
        <h2>
            <form method="POST" id='font-color'>
                {% csrf_token %}
                
                <div class="form-group">
                    {{form.as_p}}
                </div>
        
                <button type="submit" id="buttonpink" class="btn btn-default">Submit</button>
            </form>
        </h2>


    {% endblock content %}
        
       
        {% block header3 %}

            <h3 class="h3">FIND ME HERE
                <script src="https://kit.fontawesome.com/56fc67844f.js" crossorigin="anonymous"></script>
                    <div class="center">
                        <a href="https://www.instagram.com/kaysasy_/" target="_blank">
                            <i class="fab fa-instagram" id="link2"></i></a>
        
                            <a href="https://id.linkedin.com/in/kaysa-swa-20814b1a4" target="_blank">
                            <i class="fab fa-linkedin"  id="link1"></i></a>
                            
                            <a href="https://mail.google.com/mail/u/0/#inbox?compose=NZVHGDkdRDwnxgckKZgqFpxfFnMBqkGrVcSHCSVPWVZvKrMTHhQHhLjRXBvCxjmkFjVNpg" target="_blank">
                            <i class="fas fa-envelope" id="link1"></i></a>
                            
                            <i class="fab fa-line" id="link1"></i>
                    </div>
            </h3>

        {% endblock header3 %}
        
  

            </h4>

             
                
            </h4>
        </body>
</html>