{% extends 'base.html' %}

{% load static %}


<html> 
    
    {% block header1 %}
    <body class="body">
            <h1 class="h1">
                <a href="{% url 'main:home' %}"><span id="span">KAYSA SWA</span></a>

            </h1>

        {% endblock header1 %}
    
    {% block content %}

    <style>
        .title3 {
            line-height: 2.9rem;
            text-align: center;
            font-size: 3rem;
            width: 100%;
            height:auto;
            color: #FF0C55;
        }

        #book,#logout{
            border-color: #FF0C55;
            background-color: #FF0C55;
            color: white;
        }

        h4{
            color: #FF0C55;
            position: relative;
            margin: auto;
            text-align: center;
            margin-bottom:3vw;
        }

        

    </style>

    {% if user.is_authenticated %}

    <div class="main">
        <h3 class="title3" style="margin-top:4vw;"> Hello, <span>{{ user }}</span></h3>
        <div class="centercenter" style="text-align: center">
        <h6 class="title3" style="margin-bottom:7vw;">
                You can use Book Search Engine -> <a href="{% url 'story8:home' %}">
                    <button class="btn btn-outline-primary" id="book">Book Search Engine</button> 
                </a>
        </h6>
        <h4> or do you want to logout? </h4>
        <a href="{% url 'story9:logout' %}">
                <button class="btn btn-outline-primary" id="logout">Logout</button>
        </a>
        </div>
    </div>

    {% else %}

    <div class="main">
        <h3 class="title3" style="margin-top:8vw;">
                Please  <a href="{% url 'story9:login' %}">login! </a>
        </h3>
    </div>

    {% endif %}

    {% endblock content %}
    </body>
        
    {% block header3 %}

        <h3 class="h3" style="margin-top: 5rem;">FIND ME HERE
            <script src="https://kit.fontawesome.com/56fc67844f.js" crossorigin="anonymous"></script>
                <div class="center">
                    <a href="https://www.instagram.com/kaysasy_/" target="_blank">
                        <i class="fab fa-instagram" id="link2"></i></a>

                        <a href="https://id.linkedin.com/in/kaysa-swa-20814b1a4" target="_blank">
                        <i class="fab fa-linkedin"  id="link1"></i></a>
                        
                        <a href="https://mail.google.com/mail/u/0/#inbox?compose=NZVHGDkdRDwnxgckKZgqFpxfFnMBqkGrVcSHCSVPWVZvKrMTHhQHhLjRXBvCxjmkFjVNpg" target="_blank">
                        <i class="fas fa-envelope" id="link1"></i></a>
                        
                        <i class="fab fa-line" id="link1"></i>
                </div>
        </h3>

    {% endblock header3 %}



        </h4>

        
            
        </h4>
    </body>

</html>