{% extends 'base.html' %}

{% load static %}


<html> 
    
    {% block header1 %}
    <body class="body">
            <h1 class="h1">
                <a href="{% url 'main:home' %}"><span id="span">KAYSA SWA</span></a>

            </h1>

        {% endblock header1 %}
    
    {% block content %}

    <style>

        h1{
            line-height: 2.9rem;
            text-align: center;
            font-size: 3rem;
            font-weight: 900;
            width: 100%;
            height:auto;
            color: #FF0C55;
            margin-bottom: 3vw;
        }


        .login-page{
           display: none;
           width: 400px;
           height: 800px;
           position: relative;
           margin: auto;
           background: #f9f9f9;
           padding: 5px;
           border-radius: 21px;

           
        }

        .login-form{
            top: 3vw;
            position: relative;
            margin: auto;
            width: 280px;
            transition: .5s;
        
        }

        .login-form input{
            font-family: "Roboto",sans-serif;
            outline: none;
            background: #f2f2f2;
            width: 100%;
            border: #FF0C55;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
            background: transparent;
            cursor: pointer;
            border-radius: 21px;
        }

        p a:link {
            color: #FF0C55;
            text-decoration: underline;
            cursor: pointer;
            }

            /* visited link */
        p a:visited {
            color: #FF0C55;
            text-decoration: underline;
            cursor: pointer;
            }

            /* selected link */
        p a:active {
            color: #FF0C55;
            text-decoration: none;
            cursor: pointer;
            }
        
        a:link {
            text-decoration: none;
            }

            /* visited link */
        a:visited {
            text-decoration: none;
            }

            /* selected link */
        a:active {
            text-decoration: none;
            }
        
        button{
            text-align: center;
            position: relative;
            left:28vw;
            font-family: "Roboto",sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #FF0C55;
            width: 30vw;
            border: 0;
            padding: 15px;
            color: #ffffff;
            font-size: 14px;
            cursor: pointer;
            border-radius: 21px;
            margin-bottom: 3vw;
        }

        .centercenter{
            position: relative;
            margin: auto;
            text-align: center;
            color: #FF0C55;
            display: flex;
            align-items: center;
        }

        h4{
            color: #FF0C55;
            position: relative;
            margin: auto;
            text-align: center;
            margin-bottom:3vw;
        }

        

    </style>

  
    <div>
        {% if user.is_authenticated %}
        <div class="container">
            <h1>You're In</h1>
            <h4>Do you want to logout?</h4>
            <div class="centercenter">
                <a href="{% url 'story9:logout' %}">
                    <button class="btn btn-primary active" style="background-color: transparent;border-color: #FF0C55;" id="logout">LogOut</button>
                </a>
            </div>
            
        </div>

        {% else %}

        <div class="container">
            <h1>Sign Up</h1>
            <button id="button" onclick="document.getElementById('loginpage').style.display='block'">SignUp</button>"
        </div>
    
        <div id="loginpage" class = "login-page">
            <div class ="login-form">
                <form action="{% url 'story9:signup' %}" method="POST">
                    {% csrf_token %}
                    {{form.as_table}}
                    <input type="submit" value="Signup" style="color:white;background-color: #FF0C55;">
                </form>
                <p>LogIn <a href="{% url 'story9:login' %}">here</a></p>
            </div>
        </div>

    {% endif %}
</div>
    {% endblock content %}
    </body>
        
    {% block header3 %}

        <h3 class="h3" style="margin-top: 5rem;">FIND ME HERE
            <script src="https://kit.fontawesome.com/56fc67844f.js" crossorigin="anonymous"></script>
                <div class="center">
                    <a href="https://www.instagram.com/kaysasy_/" target="_blank">
                        <i class="fab fa-instagram" id="link2"></i></a>

                        <a href="https://id.linkedin.com/in/kaysa-swa-20814b1a4" target="_blank">
                        <i class="fab fa-linkedin"  id="link1"></i></a>
                        
                        <a href="https://mail.google.com/mail/u/0/#inbox?compose=NZVHGDkdRDwnxgckKZgqFpxfFnMBqkGrVcSHCSVPWVZvKrMTHhQHhLjRXBvCxjmkFjVNpg" target="_blank">
                        <i class="fas fa-envelope" id="link1"></i></a>
                        
                        <i class="fab fa-line" id="link1"></i>
                </div>
        </h3>

    {% endblock header3 %}



        </h4>

        
            
        </h4>
    </body>

</html>