{% extends 'base.html' %}

{% load static %}


<html> 
    
    {% block header1 %}
    <body class="body">
            <h1 class="h1">
                <a href="{% url 'main:home' %}"><span id="span">KAYSA SWA</span></a>

            </h1>

        {% endblock header1 %}
    
    {% block content %}
                <!-- <h3 style="color: #FF0C55;">What's My Name</h3>
                <div>
                    <p style="color: #FF0C55;">Kaysa. My friends call me Kay or Key</p>
                </div>
                <h3 style="color: #FF0C55;">What are my hobbies?</h3>
                <div>
                    <p style="color: #FF0C55;">Listening to Music, Swimming, Reads, and Watching movies</p>
                </div>
                <h3 style="color: #FF0C55;">Do I like K-Pop?</h3>
                <div>
                    <p style="color: #FF0C55;">Yes, I do. I'm an ARMY,MOA,CARAT, and a little bit of BLINK</p>
                </div> -->
            <!-- </div> -->
            <style>
            .accordion-container {
                margin-bottom: 20px;
                margin-left: 39rem;
                text-decoration: none;
            }
            .accordion-toggle {
                position: relative;
                display: block;
                padding: 10px;
                font-size: 1.5em;
                font-weight: 300;
                background: #FF0C55;
                color: #fff;
                border-radius: 21px;
                text-decoration: none;
                width:50rem;
                text-align: center;
                cursor: pointer;
            }
            .accordion-toggle.open,.accordion-toggle:hover {
                background: #FF0C55;
                text-decoration: none;
            }
            .accordion-toggle span.toggle-icon {
                position: absolute;
                top: 9px;
                right: 20px;
                font-size: 1.5em;
                text-decoration: none;
            }
            .accordion-content {
                display: none;
                padding: 20px;
                overflow: auto;
                color: #FF0C55;
                text-decoration: none;
                width:50rem;
            }
            a:link {
                color: black;
                text-decoration: none;
                }

                /* visited link */
                a:visited {
                color: black;
                text-decoration: none;
                }

                /* selected link */
                a:active {
                color: black;
                text-decoration: none;
                }

                div.move {
                    width: 10em;
                    position: absolute;
                    right: 0rem;
                    top:20%;
                    
                }

                div.move > div {
                    float: left; 
                    padding-left: 1em;
                }
              
            </style>

            <div class="container-1">
                <div class="accordion-container">
                    <a href="#" class="accordion-toggle">My Name
                        <div class="move">
                            <button class="move-down" style="background-color: #FF0C55;"><span><i class="fas fa-chevron-down"></i></span></button>
                            <button class="move-up" style="background-color: #FF0C55;"><span><i class="fas fa-chevron-up"></i></span></button>
                        </div>
                    </a>
                    <div class="accordion-content" style="font-size: 20px;">
                        Kaysa. My friends call me Kay or Key
                    </div>
                </div>
                <div class="accordion-container">
                    <a href="#" class="accordion-toggle">My Hobbies
                        <div class="move">
                            <button class="move-down" style="background-color: #FF0C55;"><span><i class="fas fa-chevron-down"></i></span></button>
                            <button class="move-up" style="background-color: #FF0C55;"><span><i class="fas fa-chevron-up"></i></span></button>
                        </div>
                    </a>
                    <div class="accordion-content" style="font-size: 20px;">
                        Listening to Music, Swimming, Reads, and Watching movies
                    </div>
                </div>
                <div class="accordion-container">
                    <a href="#" class="accordion-toggle">Do I like K-Pop?
                        <div class="move">
                            <button class="move-down" style="background-color: #FF0C55;"><span><i class="fas fa-chevron-down"></i></span></button>
                            <button class="move-up" style="background-color: #FF0C55;"><span><i class="fas fa-chevron-up"></i></span></button>
                        </div>
                    </a>
                    <div class="accordion-content" style="font-size: 20px;">
                        Yes, I do. I'm an ARMY,MOA,CARAT, and a little bit of BLINK
                    </div>
                </div>
            </div>


    {% endblock content %}
    </body>
       
        {% block header3 %}

            <h3 class="h3" style="margin-top: 5rem;">FIND ME HERE
                <script src="https://kit.fontawesome.com/56fc67844f.js" crossorigin="anonymous"></script>
                    <div class="center">
                        <a href="https://www.instagram.com/kaysasy_/" target="_blank">
                            <i class="fab fa-instagram" id="link2"></i></a>
        
                            <a href="https://id.linkedin.com/in/kaysa-swa-20814b1a4" target="_blank">
                            <i class="fab fa-linkedin"  id="link1"></i></a>
                            
                            <a href="https://mail.google.com/mail/u/0/#inbox?compose=NZVHGDkdRDwnxgckKZgqFpxfFnMBqkGrVcSHCSVPWVZvKrMTHhQHhLjRXBvCxjmkFjVNpg" target="_blank">
                            <i class="fas fa-envelope" id="link1"></i></a>
                            
                            <i class="fab fa-line" id="link1"></i>
                    </div>
            </h3>

        {% endblock header3 %}
        
       

            </h4>

             
                
            </h4>
   </body>
   
   </html>