{% extends 'base.html' %}

{% load static %}


<html> 
    
    {% block header1 %}
    <body class="body">
            <h1 class="h1">
                <a href="{% url 'main:home' %}"><span id="span">KAYSA SWA</span></a>

            </h1>

        {% endblock header1 %}
    
    {% block content %}

            <style>
                .container{
                    text-align: center;
                    margin-bottom: 10rem;
                }

                .search-box{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    background: #FF0C55;
                    height: 50px;
                    border-radius: 40px;
                    padding: 10px;
                  
                }

                .search-btn{
                    color: black;
                    float: right;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: #FF0C55;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .search-txt{
                    border: none;
                    background: none;
                    outline: none;
                    float: left;
                    padding:0;
                    color: black;
                    font-size: 18px;
                    transition: 0.4s;
                    line-height: 30px;
                    width: 0px;
                }

                .search-box:hover > .search-txt{
                    width: 240px;
                    padding: 0 6px;
                }


                .card{
                    margin-right: 3rem;
                }

                .flex-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                }

                .flex-container > div {
                    background: #FF0C55;
                    width: 300px;
                    height: 350px;
                    margin: 10px;
                    text-align: center;
                    font-size: 18px;
                    font-weight: bold;
                    color: black;
                    margin-top: 7rem;
                    border-radius: 21px;
                    padding: 1rem;

                }

                h4{
                    font-weight: 100;
                    margin-top: 1rem;
                }

                img{
                    text-align: center;
                }

            </style>

    <div class="container">
        <h1 id="span" style="text-align: center;font-weight: bold;padding-top: 5rem;">Book Search Engine</h1>
        <div class="search-box">
            <input class="search-txt"  type="text">
            <a class="search-btn" href="#">
                <i class="fas fa-search"></i>
            </a>
        </div>
    </div>

    <div class="flex-container">

    </div>

    {% endblock content %}
    </body>
        
       
        {% block header3 %}

            <h3 class="h3" style="margin-top: 5rem;">FIND ME HERE
                <script src="https://kit.fontawesome.com/56fc67844f.js" crossorigin="anonymous"></script>
                    <div class="center">
                        <a href="https://www.instagram.com/kaysasy_/" target="_blank">
                            <i class="fab fa-instagram" id="link2"></i></a>
        
                            <a href="https://id.linkedin.com/in/kaysa-swa-20814b1a4" target="_blank">
                            <i class="fab fa-linkedin"  id="link1"></i></a>
                            
                            <a href="https://mail.google.com/mail/u/0/#inbox?compose=NZVHGDkdRDwnxgckKZgqFpxfFnMBqkGrVcSHCSVPWVZvKrMTHhQHhLjRXBvCxjmkFjVNpg" target="_blank">
                            <i class="fas fa-envelope" id="link1"></i></a>
                            
                            <i class="fab fa-line" id="link1"></i>
                    </div>
            </h3>

        {% endblock header3 %}
        
       

            </h4>

             
                
            </h4>
   </body>
   
   </html>