{% load static %}

<html>
        <title>{{title}}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
        
    <link rel="stylesheet" type="text/css" href="{% static 'css/semua.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    

    

            {% block header1 %}


            {% endblock header1 %}
    
            {% block content %}

            {% endblock content %}

        {% block header3 %}

            

        {% endblock header3 %}
  
        <script type="text/javascript" src="{% static 'script/script.js' %}"></script>
            </h4>

                <div class="center">
                    <i class="far fa-copyright" id="copyright"></i><span id="span">KAYSASWA</span>
                </div>
                    
            </h4>
            
        
    </html>